{% if user.groups.filter(name='Member').exists %}
    <h1>Skyhook Timers</h1>
    <ul>
        {% for timer in timers %}
            <li>{{ timer.name }} - {{ timer.duration }} minutes</li>
        {% endfor %}
    </ul>
    <p>You are a member and can only view the timers.</p>
{% elif user.is_superuser %}
    <h1>Skyhook Timers</h1>
    <ul>
        {% for timer in timers %}
            <li>
                {{ timer.name }} - {{ timer.duration }} minutes
                <a href="{% url 'admin:skyhook_timer_skyhooktimer_change' timer.id %}">Edit</a>
                <a href="{% url 'admin:skyhook_timer_skyhooktimer_delete' timer.id %}">Delete</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'admin:skyhook_timer_skyhooktimer_add' %}">Add Timer</a>
{% else %}
    <p>You do not have access to this plugin.</p>
{% endif %}
